.album-view {
  display: block;
}

.album-view h2 {
  text-align: center;
  margin: 0 auto;
  line-height: 8rem;
  font-size: 2rem;
  display: block;
}

.album-nav {
  background-color: #111;
  width: 180px;
  float: left;
}

.selected {
  padding: 2rem 0;
  color: black;
}

.album-nav ul {
  padding: 1rem;
  margin: 0 auto;
}

.album-nav li {
  list-style-type: none;
  padding: 1rem 2rem;
  background-color: #fff;
  margin: 1rem auto;
  display: block;
  text-align: center;
}

.album-nav a {
  text-decoration: none;
  color: #be57f1;
}

.album-contents {
}

.album-contents ul {
  margin: 0;
}

.album-contents li{
  display: inline-block;
  list-style-type: none;
  padding: 1vw;
  margin: 2vw;
  border: 1px solid black;
  text-align: center;
  vertical-align: top;
}

.album-contents a {
  text-decoration: none;
  color: #be57f1;
}

.album-contents img {
  margin: 1vw;
  max-width: 12rem;
  vertical-align: top;
}
