.home-view h1{
  text-align: center;
  margin: 0 auto;
  line-height: 8rem;
  background-color: black;
  font-size: 2rem;
  color: #be57f1;
}

.home-view ul {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.home-view li {
  list-style-type: none;
  display: inline-block;
  padding: 3vw;
  border: 1px solid black;
  text-align: center;
  font-size: 18px;
  margin: 1vw;
  vertical-align: top;
}

img {
  width: 24vw;
  display: block;
  padding: 1vw 0;
}

.home-view a {
  text-decoration: none;
  color: #be57f1;
}
