.list-view h1{
  text-align: center;
  margin: 0 auto;
  line-height: 8rem;
  background-color: #d04da6;
  font-size: 2rem;
}
.list-view ul {
  margin: 0 auto;
  text-align: center;
}

.list-view li {
  list-style-type: none;
  display: inline-block;
  padding: 3vw;
  border: 1px solid black;
  text-align: center;
  color: #d04da6;
  margin: 1vw;
  vertical-align: top;
}

img {
  max-width: 24vw;
  display: block;
  padding: 1vw 0;
}
